# Oracle Database Configuration
DB_USER=<your DB user>
DB_PASSWORD="<your DB password>"
# make the connection string point to the read_only physical standby service.
# it can be EZConnect, e.g. server1,server2/readonly_service
DB_CONNECT_STRING="<your connection string>"

# Server Configuration
PORT=3001
NODE_ENV=development

# CORS Configuration (adjust for your frontend URL)
FRONTEND_URL=http://localhost:3000
